
<div style="background-color:powderblue;">
<p><%= params[:question] %></p>
<p>-You</p>
</div>

<div style="background-color:red;">
<p><%= @answer %></p>
<p>-Your Couch</p>
</div>

<%= link_to "Back to questions", ask_path %>